extends layout

block content
  h1= Welcome
  p Welcome to #{title}
  input(type='text', placeholder='your nickname', class='nickname')
  button(class='enter')
     span Enter
  div.enter_result
  div.message.field(style="display:none;")
    input(type='text', class="msg")
    button.send_message
      span Submit Message

  script.
     $(function(){
        Chat.init();
        Chat.index();
     });
     