doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/js/lib/jquery.min.js')
    script(src='/js/chat.js')
  body
    block content
